.hamburger > div{
    margin-top: 5px;
    height: 10px;
    aspect-ratio: 5/1;
    border-radius: 20% / 90%;
    background-color: blue;
    transition: 1s;
}

.hamburger:hover div:first-child{
    transform: translateY(15px) translateX(-5px) rotate(45deg);
}

.hamburger:hover div:nth-child(2){
    transform: translateX(10px) rotate(-45deg);
}

.hamburger:hover div:last-child{
    transform: translateY(-15px) translateX(10px) rotate(-45deg);
}

.hamburger:hover div{
    aspect-ratio: 3/1;
}
